.color:hover {
    color: #063470 !important;
}
.footer {
    overflow: hidden;
    margin-top: 30px;
    background: #262626;
    color: white !important;
    margin-bottom: 0;
    padding-bottom: 0;
}
a{
    color:white!important;
}
.navBar{
    height: 75px;
    box-shadow: 0px 0px 0px 0px white;
    backdrop-filter: blur(5px);
}
.shadow-sm {
    box-shadow:0px 0px 0px 0px white!important;
}
small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important;
}

.bold-text {
    color: #3d5a80 !important;
}
.random {
    color: white;
}
.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important;
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important;
}

.social {
    font-size: 21px !important;
}

.social span:hover {
    color: #3d5a80 !important;
    cursor: pointer;
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
}
.profileIcon{
    margin-top: 10px;
    display: inline;
}
.username{
    margin-top:50px;
}